@model Epic.Models.StatsListViewModel

@{
    ViewBag.Title = "Статистика";
}
@Scripts.Render("~/Scripts/jquery-1.12.4.js")
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")

@using (Html.BeginForm())
{
    @Html.DropDownList("clanId", Model.Clans)
    @Html.DatePickerFor(m => m.Date, "autoclose=true", "todayBtn=true", "todayhighlight=true", "format=dd.mm.yyyy", "language=ru-RU")
    @Html.ValidationMessageFor(model => model.Date)
    <input type="submit" value="Отбор" />
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog  modal-lg"></div>
</div>

<table class="table">
    <tr>
        <th>Позиция</th>
        <th>Клан</th>
        <th>Никнейм</th>
        <th>Уровень</th>
        <th>Фраги</th>
        <th>Смерти</th>
        <th>Фраги в эре</th>
        <th>Смерти в эре</th>
        <th>Содары</th>
        <th>Участия</th>
        <th>ЛБЗ</th>
        <th>Очки</th>
        <th>Унции</th>
    </tr>


    @foreach (var item in Model.PlayerStats)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.clan.title)
            </td>
            <td nowrap>
                @Html.ActionLink(item.nick, "Chart",
          new { id = item.ID }, new { @class = "Chart" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.frags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curFrags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curDeaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.games)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.prize)
            </td>
            <td>
                @((int)item.curDeaths / 3 + item.curFrags)
            </td>
            <td>
                @(((int)item.curDeaths / 3 + item.curFrags)*5)
            </td>
        </tr>

    }
</table>


<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".Chart").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
