@model Epic.Models.ResultListModelView

@{
    ViewBag.Title = "Результаты";
}

<h1>@Model.AgeResult.Name</h1>
<form class="form-inline" role="form">
    @Html.DropDownList("clanId", Model.Clans, new { @class = "form-control" })
    @Html.Hidden("ageresult", Model.AgeResult.AgeResultID)
    <input type="submit" class="btn" value="Отбор" />
</form>

<table class="table table-striped table-fixed">
    <thead>
        <tr>
            <th>Позиция</th>
            <th>Клан</th>
            <th>Никнейм</th>
            <th>Уровень</th>
            <th>Фраги</th>
            <th>Смерти</th>
            <th>Фраги в эре</th>
            <th>Смерти в эре</th>
            <th>Содары</th>
            <th>Участия</th>
            <th>ЛБЗ</th>
            <th>Очки</th>
            <th>Унции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ResultStats)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.clan.title)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.nick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curFrags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curDeaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sodars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.games)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.prize)
                </td>
                <td>
                    @((int)item.curDeaths / 3 + item.curFrags)
                </td>
                <td>
                    @((int)(((int)item.curDeaths / 3 + item.curFrags) * Model.AgeResult.Price))
                </td>
            </tr>

        }
    </tbody>
</table>


<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { ageresult = Model.AgeResult.AgeResultID, page = x }))
</div>

